:root {
    --bg-color: #ffffff;
    --bg-color-2: #F9FAFB;
    --bg-color-logos: #E5E7EB;
    --bg-color-tab: #ffffff;
    --text-color: #000000;
    --text-color-2: #4B5563;
}

[data-theme="light"] {
    --bg-color: #000000;
    --bg-color-2: #111827;
    --bg-color-logos: #374151;
    --bg-color-tab: #1F2937;
    --text-color: #ffffff;
    --text-color-2: #D1D5DB;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    background: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-inline: 10%;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;

}

.navbar-logo {
    display: flex;
    font-family: "Rubik Mono One";
    font-size: 30px;
    font-weight: 1000;
    line-height: 36px;
    text-align: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--text-color-2);
    gap: 24px;
    cursor: pointer;
}

.navbar-right-text:hover {
    color: rgb(109, 192, 255);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.sun {
    display: flex;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 36px;
    padding: 6px 16px 6px 16px;
    border-radius: 12px;
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

.cv:hover {
    background-color: rgb(109, 192, 255);
    color: black;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-menu {
    display: none;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 5%;
    flex-wrap: wrap-reverse;
}

.header-text {
    width: 50%;
}

.header-text-title {
    font-family: "Inter";
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    margin-bottom: 1%;
}

.header-text-main {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color-2);
    margin-bottom: 6%;
}

.location-1 {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    color: var(--text-color-2);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-top: 6%;
}

.icons {
    width: 36px;
    height: 36px;
}

.profile-container {
    display: flex;
}

.profile {
    display: flex;
    position: relative;
}

#image-background {
    width: 280px;
    height: 320px;
    margin-top: 40px;
    margin-left: 40px;
    border: 8px solid var(--bg-color);
    background-color: var(--bg-color-logos);
}



.second-section {
    width: 100%;
    background-color: var(--bg-color-2);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



.my-info {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ab-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 28px;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    border-radius: 12px;
    background-color: var(--bg-color-logos);
    margin-bottom: 48px;
}

.main-info {
    display: flex;
    flex-wrap: wrap;
}

.main-info-img {
    width: 50%;
    position: relative;
}

.main-info-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-info-text-mini {
    margin-bottom: 16px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-2);
    display: flex;
}

.info-image {
    width: 20vw;
    border: 8px solid var(--bg-color);
    position: absolute;
    margin-left: 40px;
    z-index: 0;
    top: 0;
    left: 0;
}

#main-info-image-background {
    width: 20vw;
    height: 40vh;
    margin-top: 40px;
    border: 8px solid var(--bg-color);
    background-color: var(--bg-color-logos);
}

.section-3 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.skills {
    width: 100%;
}

.skills-logo-container {
    display: flex;
    justify-content: center;
}

.skills-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-logos);
    width: 65px;
    height: 20px;
    border-radius: 12px;
    padding: 4px 20px 4px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color-2);
}

.skills-text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
}

.my-skills-logo {
    width: 100%;
    height: 80%;
}

.my-skills {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 32px;
    margin-right: 32px;
}

.my-skills-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 9%;
    margin-bottom: 5%;
}

.my-skills-mini {
    display: flex;
    flex-direction: column;
}

.section-4 {
    width: 100%;
    background-color: var(--bg-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-4-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-4-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 28px;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    border-radius: 12px;
    background-color: var(--bg-color-logos);
    margin-bottom: 15%;
}

.section-4-text {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 48px;
}

.section-4-tab {
    background-color: var(--bg-color-tab);
    padding: 32px;
    width: 70%;
    box-shadow: 0px 2px 2px 0px #0000000F;
    box-shadow: 0px 4px 3px 0px #00000012;
    border-radius: 10px;
    margin-bottom: 2%;
    cursor: pointer;
}

.section-4-tab:hover {
    border: 2px solid rgb(109, 192, 255);
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.section-4-tab-main {
    display: flex;
    justify-content: space-between;
}

.section-4-tab-main-title {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;

}

.section-4-tab-sub-title {
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;
    line-height: 1, 5em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color-2);
    margin-left: 1%;
}

.section-4-experience-time {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #374151;
    display: flex;
}

.section-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5-main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-5-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-5-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 28px;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    border-radius: 12px;
    background-color: var(--bg-color-logos);
    margin-bottom: 15%;
}

.section-5-tab {
    display: flex;
    margin-inline: 10%;
    box-shadow: 0px 2px 2px 0px #0000000F;
    box-shadow: 0px 4px 3px 0px #00000012;
    margin-bottom: 5%;
}

.section-5-text {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 15%;
}

.section-5-tab-picture {
    background-color: var(--bg-color-logos);
    border-radius: 5px;
    padding: 5%;
    width: 50%;
}

.section-5-tab-picture2 {
    background-color: var(--bg-color-logos);
    border-radius: 5px;
    padding: 5%;
    width: 50%;
    display: none;
}

.section-5-tab-picture3 {
    background-color: var(--bg-color-logos);
    border-radius: 5px;
    padding: 5%;
    width: 50%;
}

.section-5-tab-main {
    width: 50%;
    padding: 48px;
    background-color: var(--bg-color-tab);
}

.section-5-main-title {
    font-family: "Inter";
    font-size: 1.5em;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 5%;
}

.section-5-main-text {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--text-color-2);
    margin-bottom: 5%;
}

.section-5-main-logos {
    display: flex;
    flex-wrap: wrap;
}

.section-5-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    border-radius: 12px;
    background-color: var(--bg-color-logos);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 8px;
    cursor: pointer;
}

.section-5-main-logo:hover {
    background-color: rgb(109, 192, 255);
    color: #374151;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.section-5-share-button {
    margin-top: 5%;
}

.section-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6-main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-6-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 20px 4px 20px;
    gap: 0px;
    border-radius: 12px;
    background-color: var(--bg-color-logos);
    color: var(--text-color-2);
    width: 8%;
    margin-bottom: 1%;
}

.section-6-title {
    width: 50%;
    font-family: "Inter";
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    color: var(--text-color-2);
    text-align: center;
    margin-bottom: 2%;
}

.section-6-mail {
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-size: 2em;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 1%;
    cursor: pointer;
}

.section-6-mail:hover {
    color: rgb(109, 192, 255);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.section-6-phone {
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-size: 2em;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    cursor: pointer;
}

.section-6-phone:hover {
    color: rgb(109, 192, 255);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.section-6-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color-2);
}

.main-footer {
    background-color: var(--bg-color-logos);
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .header-text {
        width: 100%;
        margin-top: 15%;
    }

    .header-text-title {
        font-size: 36px;
        line-height: 40px;

    }

    .header-text-main {
        font-size: 16px;
        line-height: 24px;
    }

    #image-background {
        width: 320px;
        height: 320px;
        margin-top: 40px;
        margin-left: -20px;
    }

    .main-info {
        display: flex;
        flex-direction: column;
    }

    .info-image {
        object-fit: cover;
        width: 80%;
        height: 95%;
    }

    .main-info-img {
        width: 100%;
    }

    #main-info-image-background {
        width: 100%;
        height: 40vh;
    }

    .main-info-text {
        width: 100%;
    }

    .skills-text {
        margin-bottom: 5%;
    }

    .my-skills {
        margin: 0;
    }

    .my-skills-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
        margin-bottom: 5%;
    }

    .my-skills-mini {
        margin-bottom: 5%;
    }

    .section-4-tab {
        display: flex;
        width: 100%;
    }

    .section-4-tab-main {
        display: flex;
        flex-direction: column;
    }

    .section-4-tab-main-title {
        margin-top: 5%;
    }

    .section-5-tab {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-5-tab-main {
        width: 100%;
    }

    .section-5-tab-picture {
        width: 100%;
    }

    .section-5-tab-picture2 {
        width: 100%;
        display: flex;
    }

    .section-5-tab-picture3 {
        width: 100%;
        display: none;
    }

    .section-6-logo {
        width: 40%;
        margin-bottom: 5%;
    }

    .section-6-main {
        width: 100%;
    }

    .section-6-title {
        width: 100%;
        margin-bottom: 10%;
    }

    .section-6-mail {
        width: 100%;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }

    .section-6-phone {
        width: 100%;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }

    .section-6-icons {
        margin-top: 5%;
    }

    .footer {
        padding: 5%;
    }
}